spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:eaglebank}?useSSL=true&requireSSL=${DB_REQUIRE_SSL:true}&serverTimezone=UTC&allowPublicKeyRetrieval=true&useLegacyDatetimeCode=false
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:validate}
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        use_sql_comments: true
    open-in-view: false

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    url: /openapi.yaml
  api-docs:
    enabled: true
    path: /v3/api-docs

jwt:
  secret: ${JWT_SECRET:afu5fShnbs0AbhQ2xzw3MOteqdMifdlKDj1ZDsabWjc=}
  expiration: ${JWT_EXPIRATION:3600000} # 1 hour in milliseconds

logging:
  level:
    org.springdoc: DEBUG
    org.hibernate.SQL: ${SQL_LOG_LEVEL:DEBUG}
    org.hibernate.type.descriptor.sql.BasicBinder: ${SQL_PARAM_LOG_LEVEL:TRACE}
    root: INFO